[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.1.5"
matplotlib = "==3.2.2"
seaborn = "==0.11.1"
scipy = "==1.4.1"
umap-learn = "==0.5.1"
scikit-learn = "==0.22.2.post1"
xgboost = "==0.90"
mlxtend = "==0.14.0"
shap = "==0.39.0"
pyclustering = "*"
numpy = "==1.19.5"
hdbscan = "*"
pycaret = "==2.3.10"
markupsafe = "==2.0.1"
pyyaml = "==5.4.1"

[dev-packages]

[requires]
python_version = "3.7"
