[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.1.5"
matplotlib = "==3.2.2"
seaborn = "==0.11.1"
sklearn = "*"
scipy = "==1.4.1"
hdbscan = "*"
umap-learn = "*"
pyclustering = "*"

[dev-packages]

[requires]
python_version = "3.7"
